.git
.github
**/.terraform
**/*.tfplan
**/tfplan
**/.env
**/.env.*
!**/.env.example
node_modules
**/node_modules
**/dist
docs
design
infra
*.md
!apps/gateway/README.md
.DS_Store
docs/.DS_Store
coverage
**/*.tsbuildinfo
